
/*
Icon Colors

White: rgb(248, 251, 255) R(248) G(251) B(255) A(255)
Light Blue: rgb(173, 213, 255) R(173) G(213) B(255) A(255)
Light Grey: rgb(218, 218, 218) R(218) G(218) B(218) A(255)
Grey: rgb(126, 138, 151) R(173) G(138) B(151) A(255)
Dark Grey: rgb(67, 84, 103) R(67) G(84) B(103) A(255)

*/


/* Background color for entire page */
body{
    background-color: rgb(126, 138, 151);
    width: 99%;
}

.divMargins{
    padding: 0px;
}

.main_index{
    padding-top: 180px;
    height: 100%;
}

.main{
    padding-top: 1px;
    margin-top: 180px;
    height: 100%;
}

/* Set navbar to always be on top */
nav{
    z-index: 9;
}

/* Stick navbar to top */
.navbar{
    overflow: hidden;
    position:fixed;
    top: 0;
    width: 100%;
}

.bgCustom{
    background: rgb(67, 84, 103);
}

/* Title in upper left corner of navbar */
a.navbar-brand{
    font-size: 2.75em;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
}

/* Each individual item on navbar */
li a.nav-link{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(173, 213, 255);
}

/* When hovering over navbar item */
.nav-link:hover{
    background: rgb(126, 138, 151);
}

/* When navbar item is active (page user is on) */
.nav-pills .nav-link.active{
    background: rgb(126, 138, 151);
    color: rgb(173, 213, 255);
}

/* Sets sizing for title icon on navbar */
#titleIcon{
    width: 100px;
}

/* Base Text */
p{
    color: white;
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
}

.hyperlink, footer a{
    color: mediumblue;
    font-weight: 500;
}

/* Company Header text */
h1, h2, h3, h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: bold;
}

h3{
    text-decoration: underline;
}

/* Removes margine from bottom */
.noMarg{
    margin-bottom: 0;
}

#gameImg, #companyImg{
    opacity: .7;
}

#gameTM, #companyTitle{
    color: white;
}


/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    text-align: left;
}

/* Index images */
.indexContain {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

/* Bottom text */
.bottom {
    position: absolute;
    bottom: 8px;
    left: 32px;
}

.gamePageHeader{
    color: aquamarine;
}


/* Bottom of the page, should be similar color to base text */
footer{
    font-size: .75em;
    color: white;
    text-align: center;
}


/* Override to ensure image is centered */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* For employee avatars */
.headAvtr{
    border-radius: 50%;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.largerArt{
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
}

/* For editing rows of employees on company page */
.employeeRow{
    margin-top: 60px;
    margin-bottom: 60px;
}